In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('loan.csv')
df.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              601 non-null    object
 1   Married             611 non-null    object
 2   Dependents          599 non-null    object
 3   Education           614 non-null    object
 4   Self_Employed       582 non-null    object
 5   Applicant_Income    614 non-null    int64
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Term                600 non-null    float64
 9   Credit_History      564 non-null    float64
 10  Area                614 non-null    object
 11  Status              614 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 57.7+ KB

In [4]:
df.isnull().sum()

Gender                13
Married                3
Dependents            15
Education              0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [5]:
continous=[]
descrite=[]
for i in df.columns:
    if df[i].dtype=='object':
        descrite.append(i)
    else:
        continous.append(i)

In [6]:
l=['Gender','Married','Dependents','Self_Employed','Term','Credit_History']

In [7]:
for i in l:
    df[i].fillna(df[i].mode()[0],inplace=True)

In [8]:
df.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
Applicant_Income      0
Coapplicant_Income    0
Loan_Amount           0
Term                  0
Credit_History        0
Area                  0
Status                0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for i in descrite:
    df[i] = le.fit_transform(df[i])

In [10]:
x=df.drop('Status',axis=1)
y=df['Status']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=11)

In [12]:
LogisticRegressionPipeline=Pipeline([('myscaler',MinMaxScaler()),
                                    ('mypca',PCA(n_components=0.95)),
                                    ('logistic_classifier',LogisticRegression())])

In [13]:
SvmPipeline=Pipeline([('myscaler',MinMaxScaler()),
                                    ('mypca',PCA(n_components=0.95)),
                                    ('svc_classifier',SVC())])

In [14]:
DecisionTreeClassifierPipeline=Pipeline([('myscaler',MinMaxScaler()),
                                    ('mypca',PCA(n_components=0.95)),
                                    ('decisiontree_classifier',DecisionTreeClassifier())])

In [15]:
mypipeline=[LogisticRegressionPipeline,SvmPipeline,DecisionTreeClassifierPipeline]

In [16]:
for mypipe in mypipeline:
    mypipe.fit(x_train,y_train)

In [17]:
pipelinedict={0:'LogisticRegression',1:'SVM',2:'DecisionTreeClassifier'}

In [18]:
for i,model in enumerate(mypipeline):
    print("{} Test accuracy {}".format(pipelinedict[i],model.score(x_test,y_test)))

LogisticRegression Test accuracy 0.8455284552845529
SVM Test accuracy 0.8455284552845529
DecisionTreeClassifier Test accuracy 0.7235772357723578

In [19]:
accuracy=0.0
classifier=0
pipeline=""

In [20]:
for i,model in enumerate(mypipeline):
    if model.score(x_test,y_test)>accuracy:
        accuracy=model.score(x_test,y_test)
        classifier=i
        pipeline=model
print("Classifier with best accuracy:{}".format(pipelinedict[classifier]))

Classifier with best accuracy:LogisticRegression